<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam provident nostrum explicabo in mollitia. Autem, pariatur. Quibusdam dolorum incidunt vitae nulla nam placeat eaque ipsum laboriosam quae blanditiis beatae eligendi reprehenderit dolore, repellendus, maiores molestias sapiente eos sed veniam rem itaque. Nesciunt quia aliquid natus.
    <p>
        Lorem ipsum dolor sit amet.
    </p>
</body>
</html>